// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

nav{
    background-color: #95275c;
}

.h1{
    color: #95275c;
}

#containerForm {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #85275C;
  }

  .form-title {
    color: #85275C;
  }

.btn-primary{
    background-color: #95275c;
}

.btn-primary:hover{
    background-color: #65183d;
}
#containerActivities{
    min-height: 90%;
}

#botonActividades{
    display: block; 
    width: 100%;
}
